.friendCard {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: .3s;
}

.friendCard:hover {
    background: wheat;
}

.friendCard img {
    max-width: 50px;
}

.friendCard h3 {
    margin: 0;
}

.friendCard p {
    margin: 0;
}
