form {
    background: wheat;
    padding: 20px;
}

form.addFriend {
    text-align: right
}

form.addFriend button{
    width: 53%;
}

form.addFriend .inputWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
